<div class="page-header">
  <h2>About  <small> CHPL-Social Integration Platform </small></h2>
</div>
 
<h4> <p class="text-info"> Introduction </p></h4>

<div class="well well-large"> 
	<li>The world is using social networks and other social media-based services to stay in touch, communicate and collaborate.</li> <br>
	<li>Typical examples of social networks are facebook, twitter and linked-in. <br>
		So enterprises cannot grow without their existing applications including their web-sites, CRM etc are integrated into the above social networks.</li> <br>
	<li>Today leading organizations are those organizations who have integrated their most of the applications with social networks.</li> <br>
	<li>The revenue growth of social businesses is 24% higher than less social firm. </li> <br>
	<li>However most of medium and small scale organizations do not have capability to integrate their existing 				applications with social media even if they want to. </li> <br>
	<li>Each Social Media like facebook, twitter and linked-in have different and complex mechanism for integration. So 		there is long learning curve to master these integration capabilities.<br>
		So CHPL thought of publishing single unified  platform or API (Application Programming Interface) which allow all enterprises  to integrate their existing applications including their websites using our proposed Social integration platform to all current and future social networks.</li> <br>
</div>

<h4> <p class="text-info"> Benefits of CHPL’s social Integration Platform to enterprises </p></h4>

<div class="well well-large"> 
	<li>Enterprises who would like to become social will have to learn only CHPL’s Social API instead of learning all APIs of all social media platform.</li> <br>
	<li>Enterprises gets unified interface to manage all social platforms which increases their productivity.</li> <br>
	<li>This platform will not only increase the productivity but reduces the complexity to greater extent.</li> <br>
	<li>This platform will simplify and shorten the whole process of becoming social.</li>	 <br>
</div>

<h4> <p class="text-info"> Designers </p></h4>
<div class="well well-large"> 
	<h5><li>Vineet Ahirkar</li></h5>
	<h5><li>Kunal Dhande</li></h5>
	<h5><li>Ramyata Havaldar</li></h5>
	<h5><li>Omkar Kulkarni</li></h5>
</div>