<div class="brdr">
	<div class="tabbable" style="margin-top: -18px;">
		<div class="affix tabs">		
			 <ul class="nav nav-tabs pos">
			    <li class="active"><a href="#pane1" data-toggle="tab" id="demo"><i class="fa fa-bar-chart-o"></i> Demo </a></li>
			    <li><a href="#pane2" data-toggle="tab" id="facebook"><i class="fa fa-facebook-square"></i> Facebook Analysis </a></li>
			    <li><a href="#pane3" data-toggle="tab" id="twitter"><i class="fa fa-twitter-square"></i> Twitter Analysis</a></li>
			 </ul>
		</div>

		<div class="tab-content" style="margin-top: 40px;">
		    <div id="pane1" class="tab-pane active">
		    	<iframe src="/main/demo_analysis" id="demo_frame" class="row-fluid" height="500px;"></iframe>
		    </div>

		    <div id="pane2" class="tab-pane">
		   		<iframe src="/facebook/fb_analysis" id="facebook_frame" class="row-fluid"></iframe>
		    </div>

		    <div id="pane3" class="tab-pane">
		    	<iframe src="/twitter/tw_analysis" id="twitter_frame" class="row-fluid"></iframe>
		    </div>
	 	 </div>
	</div>
</div>