<% if user_signed_in? %>
  <li>
  <%= link_to(('<i class="icon-off"></i> Sign Out').html_safe, destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to(('<i class="icon-off"></i> Sign In').html_safe, new_user_session_path)  %>  
  </li>
<% end %>