


<div id="myCarousel" class="carousel slide" style="margin-left:100px; margin-top:20px">
  <ol class="carousel-indicators">
    <li data-target="Facebook" data-slide-to="0" class="active"></li>
    <li data-target="Linkedin" data-slide-to="1"></li>
    <li data-target="Social crm" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    
    <div class="active item"><%= image_tag("fb.png", size: "500x500") %></div>
    <div class="item"><%= image_tag("lin.png", size: "500x500") %></div>
    <div class="item"><%= image_tag("twitter.png", size: "500x500") %></div>
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


