
<hr class="featurette-divider">

<div class="footer">
   <div class="container">
      <center>
        <p style="color:WHITE">&copy; 2014 | Computer Home Pvt Ltd. </p>
        <!--p class="muted credit">Vineet Ahirkar </p>
        <p class="muted credit">KunAL Dhande </p>
        <p class="muted credit">Omkar Kulkarni </p>
        <p class="muted credit">Ramyata Kulkarni </p-->
      </center>
   </div>
</div>


