<!-- Content row -->
    <div class="row">
        <!-- SIDEBAR Open -->
        <div id="sidebar-left" class="col-2 col-lg-2">
		      <div class="span3 bs-docs-sidebar">
           <ul class="nav nav-list bs-docs-sidenav affix">

          <li class="active"><a href="#dropdowns"><i class="icon-chevron-right"></i> Facebook</a></li>
          <li><a href="#buttonGroups"><i class="icon-chevron-right"></i> Twitter</a></li>
          <li><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> Linkedin</a></li>
          
          </ul>
        </div>
		</div>
   </div>