// Place all the styles related to the plugins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal{margin-left: -80px;}
.accordion-inner {padding: inherit;}
.accordion-heading {background: #f4f4f4;}
.accordion-group {margin-bottom: 5px;}
.accordion-heading .accordion-toggle {padding: 2px 15px}
.table {margin-bottom: 0px;}
.nav {margin-bottom: -1px;}
