
iframe {border: none; }
.frame_bottom {padding-top: 100px;}
.line {border-bottom: 5px double #eeeeee; margin-top: -22px; padding-top: 8px; padding-bottom: 4px;}
.pos {margin-top: 5px;}
.btn {float: right; margin-right: 35px}
.icon-chevron-right { float: right; margin-top: 2px; margin-right: -6px; opacity: .25; }
.brdr {border: 1px solid #ddd; margin-top: 15px; min-height:520px}
.tabs {height: 43px; background: #f1f1f1; padding-left: 25px; margin-left: -26px; margin-top: -25px;}
.profile {background: white;cursor:pointer;}
.side {width: 10%; margin-top: 150px; margin-left: 10px;}
.pos .active a {font-weight: bold;font-size: 14px;}
.nav-stacked .active a, .nav-stacked .active a:hover {font-size: 14px; background : #0088cc; color: white; }
.refreshh { margin-top: 10px; cursor: pointer;}
.fa-angle-double-down {float: right; margin-right: 20px;}
.fm2 {margin-top: 18px; height: 20px; font-size: 14px; font-weight: bold;}



.modall {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}
